:root {
 --primary: #E7816B;
 --primary-light: #FFAD9B;
 --dark: #1D1C1E;
 --dark-grey: #333136;
 --light: #FFFFFF;
 --light-grey: #F1F3F5;
}
*{
    box-sizing: border-box;
    margin: 0px;
    /* padding: 0px; */
}

html {
    box-sizing: border-box;
    font-family: Jost;
    color: var(--dark);
}

body{
    /* background-color: var(--light-grey); */
    background-image: url(/src/assets/shared/desktop/bg-pattern-leaf.svg);
    background-size: 50rem 30rem;
    background-position:0% 10%;
    background-repeat: no-repeat;
}

.wrapper{
    /* background-color: var(--dark-grey); */
    padding: 2.5rem 5rem 0rem 5rem;
    display: grid;
    grid-gap: 4rem;
}

/* Nav-Bar Styling */
.navbar {
    /* background-color: var(--light); */
    display: grid;
    grid-template-columns: 6fr 1fr;
    align-items: center;
}

.navbar img{
    width: 12rem;
    height: 1.5rem;
}

.nav-selection{
    /* background-color:#E7816B; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 0.8em;
    width: 19rem;
    justify-items: end;
    position: relative;
    right: 0.1rem;
}

a:hover{
    text-decoration: underline;
}

/* App Design Section Styling */
.app-design {
    background-image: url(/src/assets/shared/desktop/bg-pattern-call-to-action.svg);
    background-size: 50rem 30rem;
    background-position:15% 50%;
    background-repeat:no-repeat;
    background-color: var(--primary);
    display: grid;
    height: 15rem;
    border-radius: 1rem;
    text-align: center;
    align-items:center;
}

.app{
    color: var(--light);
}

.app h2{
    font-size: 3rem;
    font-weight: 400;
}

.app p{
  position: relative;
  /* bottom: 1.5rem; */
  line-height: 1.7rem;
}

/* Card Section Styling */
.card-section {
    /* background-color:#F1F3F5; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    position: relative;
    top: 4rem;
    text-align: center;
    grid-gap: 4rem;
    width: 100%;
}

.card{
     background-color: #FDF3F0;
     width: 26rem;
     border-radius: 1.2rem;
     height: 30rem;
}

.card img{
    width: 26rem;
    height: 20rem;
    border-radius: 1rem 1rem 0rem 0rem;
}

.card-message h3{
    font-size: 1.25rem;
    font-weight: 400;
    letter-spacing: 0.5rem;
    color: var(--primary);
    position: relative;
    top: 1rem;
}

.card p{
    position: relative;
    top: 1.7rem;
}

/* Card Hover */
.card:hover {
     background-color: var(--primary);
    color: var(--light);
}

.card:hover h3{
     background-color: var(--primary);
    color: var(--light);
}

/* Web Graphic Section styling */
.web-graphic{
    /* background-color:white; */
    display: grid;
    grid-template-columns: repeat(2,1fr);
    position: relative;
    top: 8rem;
    color: var(--light);
    text-align: center;
    grid-gap: 5.7rem;
}

/* Web Style */
.web{
    background-color:rgba(0, 0, 0, 0.708);
    background-blend-mode: overlay;
    background-image: url(/src/assets/home/desktop/image-web-design-small.jpg);
    background-size: contain;
    height: 19rem;
    display: grid;
    align-items: center;
    border-radius: 1rem;
    justify-content: center;
}

.web-details h3{
    /* background-color:blue; */
    font-size: 3rem;
    font-weight: 400;
}

.web-view{
    /* background-color:#F1F3F5; */
    display: grid;
    grid-template-columns: 3fr 0.5fr;
    align-items: center;
    justify-items: center;
    position: relative;
}

.web-view  h6{
    font-size: 0.68rem;
    font-weight: 400;
    letter-spacing: 0.5rem;
}

.web-view svg{
    /* background-color:#1D1C1E; */
    position: relative;
    right: 2rem;
}

/* Graphic style */
.graphic{
    background-color:rgba(0, 0, 0, 0.708);
    background-blend-mode: overlay;
    background-image: url(/src/assets/home/desktop/image-graphic-design.jpg);
    background-size: contain;
    height: 19rem;
    display: grid;
    align-items: center;
    border-radius: 1rem;
    justify-content: center;
}

.graphic-details h3{
    /* background-color:blue; */
    font-size: 3rem;
    font-weight: 400;
}

.graphic-view{
    /* background-color:#F1F3F5; */
    display: grid;
    grid-template-columns: 3fr 0.5fr;
    align-items: center;
    justify-items: center;
    position: relative;
}

.graphic-view  h6{
    font-size: 0.68rem;
    font-weight: 400;
    letter-spacing: 0.5rem;
}

.graphic-view svg{
    /* background-color:#1D1C1E; */
    position: relative;
    right: 5rem;
}

/* Get In Touch Section */
.get-in-touch {
    background-image: url(/src/assets/shared/desktop/bg-pattern-call-to-action.svg);
    background-size: 50rem 30rem;
    background-position:100% 50%;
    background-repeat: no-repeat;
    background-color: var(--primary);
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: 15rem;
    border-radius: 1rem;
    text-align: center;
    align-items:center;
    position: relative;
    width: 100%;
    top: 90%;
    color: var(--light);
    z-index: 10;
}

.git-message{
    /* background-color:black; */
    text-align: left;
    width: 30rem;
    position: relative;
    left: 5rem;
}
.git-message h2{
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 2rem;
}

.git-message p{
    font-size: 0.8rem;
    position: relative;
    top: 1rem;
}

button {
    width: 10rem;
    height: 4rem;
    border-radius: 1rem;
    border: 0;
    font-size: 1rem;
    font-weight: 550;
    word-spacing: 0.3rem;
    position: relative;
    left: 2.4rem;
}

/* button hover */
button:hover{
    background-color: var(--primary-light);
    color: var(--light);
}

/* Footer Styling */
.footer {
    /* background-color:blue; */
    display: grid;
    position: relative;
    top: 14rem;
}

.footer-nav{
    color: var(--light);
}

.details{
    /* background-color:rgb(22, 182, 62); */
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    align-items: end;
    position: relative;
    top: 5rem;
}

.social-media-icons {
    /* background-color:#333136; */
    display: flex;
    justify-content: space-between;
    width: 10rem;
    position:relative;
    bottom: 1rem;
    left: 7.2rem;
}

/* Social media icons Hover */
svg:hover path{
    cursor: pointer;
    fill: var(--primary-light);
}

.location{
    font-size: 0.8rem;
    font-weight: 800;
    color: var(--light-grey);
}

.loc-details{
    font-weight: 600;
    font-size: 0.65rem;
    line-height: 0rem;
}

.contact{
    font-size: 0.8rem;
    font-weight: 800;
    color: var(--light-grey)
}

/* after footer div */
.after-footer{
    background-color: var(--dark);
    height: 23rem;
}

hr {
    background-color: var(--light);
    z-index: 1;
    position: relative;
    top: 3rem;
    width: 100%;
}
